* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}
.reg-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
}
.reg-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.reg-content {
  /* background: lab(35.6% 79.24 -98.31 / 0.432); */
  padding: 30px;
  border-radius: 15px;
}

.reg-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #11175d;
  font-family: "Nunito", sans-serif;
}

.reg-content p {
  font-size: 20px;
  font-weight: 400;
  color: #808080;
  font-family: "Nunito", sans-serif;
  padding: 13px 0 60px;
}

.reg-content span {
  color: #c0c0c0;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
