* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* =============================
    Registration Part Start
=============================== */

.reg-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
}
.reg-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.reg-content {
  padding: 30px;
  border-radius: 15px;
}
.reg-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #11175d;
  font-family: "Nunito", sans-serif;
}
.reg-content p {
  font-size: 20px;
  font-weight: 400;
  color: #808080;
  font-family: "Nunito", sans-serif;
  padding: 13px 0 60px;
}
.reg-content span {
  color: #c0c0c0;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.reg-content p:last-child {
  font-size: 14px;
  color: #03014c;
  padding: 0 !important;
  font-weight: 400;
}
.reg-content p:last-child span {
  color: #ea6c00;
  font-weight: 700;
  cursor: pointer;
}
.password-input {
  position: relative;
}
.icon-box {
  position: absolute;
  top: 35%;
  left: 50%;
  cursor: pointer;
}

.error-message-box {
  position: relative;
}

.error-message {
  color: #ff0000 !important;
  font-size: 15px !important ;
  font-family: "Open Sans", sans-serif !important;
  position: absolute;
  bottom: -55%;
  left: 0;
}

.loader-icon {
  padding: 50px 25%;
}

/* =============================
    Registration Part End
=============================== */

/* =============================
        Login Part Start
=============================== */

.login-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login-content {
  padding: 30px;
  border-radius: 15px;
}
.login-icon-box {
  position: absolute;
  top: 46%;
  left: 90%;
  cursor: pointer;
}
.login-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #11175d;
  font-family: "Open Sans", sans-serif;
}
.login-content p {
  font-size: 14px;
  color: #03014c;
  padding: 0 !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.login-content p span {
  color: #ea6c00;
  font-weight: 700;
  cursor: pointer;
}
.login-input-field {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.logo-box {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #b4b3ca;
  border-radius: 8px;
  width: 60%;
  height: 62px;
  padding-left: 25px;
  margin: 30px 0 33px;
  cursor: pointer;
  transition: all 0.5s;
}
.logo-box:hover {
  background: #f8fafb;
}
.logo-box span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #03014c;
  font-weight: 600;
}
.login-loader-icon {
  padding: 52px 40%;
}
.forget-password {
  font-family: "Open Sans", sans-serif;
  color: #3b82f6;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.3s;
}
.forgot-password:hover {
  color: #1d4ed8;
}

.ui-for-forgotpassword {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotpassword-box-ui {
  width: 800px;
  background: #ffffff;
  border-radius: 20px;
  padding: 80px;
  padding-top: 125px;
}

.forget-button {
  display: flex;
  gap: 20px;
}
/* =============================
        Sidebar Part Star
=============================== */

.sidebar-layout {
  background: #5f35f5;
  height: 95vh;
  width: 75%;
  margin: 25px 43px 10px 32px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0 48px;
}

.profile-layout {
  width: 100px;
  height: 100px;
}
.profile-layout img {
  width: 100%;
  border-radius: 100%;
}

.page-layout {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.page-icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 50px;
  cursor: pointer;
}

.active .page-icon {
  color: #5f35f5;
}

.active {
  position: relative;
  z-index: 2;
}

.active::after {
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: -22px;
  left: -60px;
  content: "";
  z-index: -1;
}
.active::before {
  background-color: #5f35f5;
  width: 10px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: -22px;
  left: 130px;
  content: "";
  z-index: 1;
}

/* =============================
        Sidebar Part End
=============================== */

/* =============================
    Home(User List) Part Star
=============================== */
.grid-division {
  margin-top: 25px;
  margin-right: 25px;
}
.userlist-box {
  /* background: #ff004c; */
  width: 100%;
  height: 347px !important;
}

.friend-requestlist-box {
  margin-top: 70px;
}

.userlist-input-box {
  position: relative;
}

.userlist-input-box input {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 20px 22px 20px 58px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.userlist-input-box .search {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  cursor: pointer;
}

.userlist-input-box .three-dot {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #5f35f5;
}

.userlist-profile-box {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  height: 100%;
}

.user-details {
  /* background: #000; */
  overflow-y: scroll;
  height: 82%;
}
.userlist-profile-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 22px 3px;
}
.userlist-profile-box .title-box h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
}
.userlist-profile-box .title-box .three-dot {
  color: #5f35f5;
}

.title-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px 14px 22px;
  position: relative;
}
.title-profile::after {
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  transform: translatex(-50%);
}

.title-profile .title-pera {
  display: flex;
  align-items: center;
  gap: 14px;
}

.image-box {
  width: 70px;
  height: 70px;
}

.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.title-profile h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.title-profile p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(77, 77, 77, 0.719);
  font-family: "Poppins", sans-serif;
}
.title-profile button {
  background: #5f35f5;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 2px 22px;
}

/* =============================
    Home(User List) Part End
=============================== */

/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
/* =============================
        Login Part Star
=============================== */
/* =============================
        Login Part End
=============================== */
